<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
    <% include partials/nav.ejs %>
    <h1>Welcome, to the profile of <%= data.name %></h1>
    <p>Job: <strong><%= data.job %></strong></p>
    <p>Age: <strong><%= data.age %></strong></p>
    <p>Status: <strong><%= data.status %></strong></p>
    <h2>Hobbies</h2>
    <ul>
        <% data.hobbies.forEach( function ( item ){ %>
            <li>
                <%= item %>
            </li>
        <%} );%>
    </ul>
</body>
</html>